*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111;
    color:#fff;
    font-family:Arial,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.game-container{
    text-align:center;
}

h1{
    margin-bottom:15px;
}

.hud{
    display:flex;
    justify-content:space-between;
    width:400px;
    margin:10px auto;
    font-size:20px;
    font-weight:bold;
}

canvas{
    background:#444;
    border:4px solid #fff;
    border-radius:10px;
    display:block;
    margin:auto;
}

.controls{
    margin-top:15px;
    display:flex;
    justify-content:center;
    gap:10px;
}

button{
    padding:12px 20px;
    font-size:18px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:#00b894;
    color:#fff;
    font-weight:bold;
    touch-action: none;
    user-select: none;
    touch-action: none;
   -webkit-user-select: none;
    user-select: none;
}

button:hover{
    background:#019875;
}

@media (max-width:500px){
    canvas{
        width:95%;
        height:auto;
    }

    .hud{
        width:95%;
        font-size:18px;
    }

    .controls{
        flex-wrap:wrap;
    }
}
.controls{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.arrows{
    display:flex;
    gap:150px;      /* Arrow मधलं अंतर */
    margin-bottom:25px;
}

.buttons{
    display:flex;
    gap:15px;
}
